################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QLBVMB/FileContentIndex
/.vs/QLBVMB/v17/.suo
/QLBVMB/bin/Debug/QLBVMB.exe
/QLBVMB/bin/Debug/QLBVMB.pdb
