################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QLBVMB/FileContentIndex
/.vs/QLBVMB/v17/.suo
/QLBVMB/bin/Debug/QLBVMB.exe
/QLBVMB/bin/Debug/QLBVMB.pdb
/.vs/QLBVMB/v17/.suo
/QLBVMB/bin/Debug/QLBVMB.exe
/QLBVMB/bin/Debug/QLBVMB.pdb
/QLBVMB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/QLBVMB/obj/Debug/MainWindow.baml
/QLBVMB/obj/Debug/MainWindow.g.cs
/QLBVMB/obj/Debug/MainWindow.g.i.cs
/QLBVMB/obj/Debug/QLBVMB.exe
/QLBVMB/obj/Debug/QLBVMB.g.resources
/QLBVMB/obj/Debug/QLBVMB.pdb
*.lref
